*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    list-style: none;
    text-decoration: none;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-color: #feac00;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box{
    width: 80%;
    min-height: 80vh;
    background-color: white;
    background: linear-gradient( to right bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.1));
    border-radius: 1rem;
    z-index: 4;
    backdrop-filter: blur(2rem);
}
.circle1, .circle2{
    background-color: white;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient( to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.4));
    z-index: 2;
}

.circle1{
    top: 4%;
    right: 2%;
}
.circle2{
    bottom: 4%;
    left: 2%;
}
.main-box nav{
    padding: 50px;
}
.main-box nav ul{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: #000000;
    font-size: 1.1rem;
    font-weight: 800;
}
.fa{
    font-size: 1.6rem;
    color: white;
    padding: 6px 6px;
    border-radius: 0.5rem;
    background-color: #000000;
    cursor: pointer;    
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-text{
    max-width: 500px;
}
.main-text h1{
    font-size: 2.5rem;
}
.main-text h2{
    font-size: 2rem;
    font-weight: 200;
}
.main-text p{
    font-size: 1rem;
    font-weight: 100;
    margin: 18px 0 40px;
}
.btn1, .btn2{
    padding: 10px 20px;
    background-color: #d41b27;
    color: white;
    font-weight: 300;
    border-radius: 2rem;
    cursor: pointer;
}
.btn2{
    background-color: #fff;
    color: #000000;
    margin-left: 1rem;
}
.btn2:hover{
    background-color: #d41b27;
    color: #fff;
    transition: 0.5s ease;
}
.main-text::after{
    content: '';
    width: 5px;
    height: 20%;
    background-color: #d41b27;
    position: absolute;
    left: 4rem;
    top: 10rem;
}
.main-img{
    width: 300px;
    height: 300px;
}